<?xml version='1.0' encoding='utf-8'?>
<widget id="com.emanoelv.moedaverdeigarapeacu" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Moeda Verde - Igarapé-Açu</name>
    <description>
        Simples caculadora para o projeto moeda verde de ingarapé-açu
    </description>
    <author email="prof.emanoel.vieira@gmail.com" href="https://github.com/EmanoelV">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
